.encabezado{
    font-size: 15px;
    background-color: #920a0a;
    color: #fff;
    font-weight: bolder;
}

.lugar{
    font-size: 12px;
    background-color: #d70000;
    color: #fff;
    text-align: right;
}

.precio{
    font-size: 12px;
    background-color: #ff2323;
    color: #fff;
}

.nota{
    font-size: 10px;
    background-color: #ff9494;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-capturar {
    background-color: #ff6803; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px 20px; /* Aumenta el espacio alrededor del texto  donde el primer valor es el minimo y el segundo el maximo*/
    border: 1px solid #000; /* Muestra un borde*/
    border-radius: 5px; /* Agrega bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Agrega una transición */
    margin-top: 5px; /*Margen superior*/
    margin-bottom: 5px; /*Margen inferiorr*/
    font-size: 20px; /*Tamaño de fuente*/
  }